image:
  repository: krumware/baseline-react-app
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.

  tag: "20230822T154742"
imagePullSecrets: []
service:
  type: ClusterIP
  port: 3000
ingress:
  enabled: true
  className: "traefik"
  annotations:
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: react.212.2.246.51.sslip.io
      paths:
        - path: /
          pathType: Prefix
  tls: []
resources:
  limits:
    cpu: 500m
    memory: 1000Mi
